<div class="background">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img class="image" src="assets/images/login.png"/>
            </div>
            <div class="col">
                <div class="login">
                    <div class="welcome">Welcome!</div>
                    <div class="sign">Sign in to your Account</div>
                    <div class="click">
                        <div>
                            <button class="btnGoogle mr-2">
                                <fa-icon [icon]="faGoogle" class="mr-1"></fa-icon>
                                Login with Google
                            </button> 

                            <button class="btnFacebook ml-2">
                                <fa-icon [icon]="faFacebook" class="mr-1"></fa-icon>
                                Login with Facebook  
                            </button> 
                        </div>
                        <div class="account">
                            No Account Gmail?   
                            <a href="https://jii.li/rbyHj">register</a>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div> 
    </div> 
</div>
