.background{
    background-color:rgb(9, 84, 245);
    padding-top: 1rem;
    width: 100vw;
    height: 60px;
}

.login{
    color: white;
    padding-left: 7rem;
    font-size: 20px;
    position: absolute;
    right: 112px;
}